.wrapper {
    display: flex;
    padding: 9px 16px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.info {
    flex: 1;
}
.name {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 22px;
}
.usename {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    line-height: 20px;

}
.icon_check{
   margin-left: 8px;
   color: rgb(32, 213, 236);
}
