.menuItems {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 8px;
    transition: background-color ease-in-out 200ms;
    &.active {
        color: var(--primary);
        .icon {
            display: none;
        }
        .activeIcon {
            display: flex;
        }
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-radius: 4px;
    }
}
.title {
    margin-left: 10px;
}
.icon,
.activeIcon {
    display: flex;
}
.activeIcon {
    display: none;
}
